section > section {
	width: 100%;
	font-size: 1em;
	border: 1px solid;
	position: relative;
	display: inline-block;
	margin: 1%;
	margin-left: 5%;
	max-width: 75%;
}

section > h2 {
	padding: 1em;	

}

section > img {
	display: inline-block;
	margin: 20px;
	position: relative;
	float: left;
}

section > h3 h4 h5 {
	display: inline-block;
	float: left;
	position: relative;
	margin-left: 20px;
}

main {
	margin:20px;
}

section > p {
	display: inline-block;
}

#css {
	display: inline-block;
	width: 100%;
	text-align: center;
}

footer	{
	border: 1px solid;
}

code {
	display: inline-block;
	background-color: #E8E8E8;
	text-align: center;
}