* {
	font-family: Helvetica;
	background-color: black;
	color: white;
	margin: 0;
}

body {
	height: 100%;
}

/* Nav */

nav {
    width: 100%;
    position: relative;
    border-bottom: 2px solid white;
    float: left;
    overflow: hidden;
}

nav > a {
	position: relative;
	display: inline-block;
	float: right;
	padding: 2em;	
	text-decoration: none;
}

#logo {
	float: left;
	display: inline-block;
	padding: 0.25em;
	font-size: 3em;

}

#logo:hover {
	color: #1CA100;
	background-color: black;
}

nav > a:hover {
	background-color: #1CA100;
	color: black;
}

/* Main Content */

section {
	width: 100%;
	height: 100%;
	text-align: center;
}

h1 {
	font-style: monospace;
	color: black;
	font-size: 10em;
	display: inline-block;
	padding: 0.5em;
} 

h1:hover {
	color: #003A9E;
}

h3 {
	padding-top: 3em;
	color: black;
	width: 50%;
	display: inline-block;
}

h3:hover {
	color: #EF6300;
}

/*Chart*/

/*#one {
	width: 65px;
	height: 900px;
	background-color: blue;
	float: right;
	display: block;
}

#two {
	width: 65px;
	height: 700px;
	background-color: green;
	float: right;
	display: block;
}*/

/*Contact*/

#contact-main {
	text-align: center;
	margin: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: white;
	display: inline-block;
	max-width: 250px;
	max-height: 100px;
}

#contact-main > a, img {
	background-color: white;
}









